/*#flipping-vis{*/
/*    background-color: deeppink;*/
/*}*/

#parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: yellow;*/
    width: 100%;
    height: 90%;
    column-gap: 10%;
    /*margin-top: 2%;*/
}

.info-box{
    /*background-color: gainsboro;*/
    width: 100%;
    height: 5%;
    color: #1db954;
    padding-left: 2%;
<<<<<<< HEAD
    /*margin-top: 5%;*/
    /*margin-bottom: 5%;*/
}

.info-text {
    color: #1db954;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
=======
    margin-top: 2%;
    /*margin-bottom: 5%;*/
}
#top-info{
    /*background-color: orchid;*/
}

.bottom-info{
    /*margin-top: 2%;*/
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 2px solid #1db954;*/
}

.info-text {
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
}

#graphing-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: hotpink;*/
    column-gap: 3%;
}

#bar-chart-area{
    /*padding-top: 5%;*/
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
=======
    justify-self: center;
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
    align-items: center;
    width: 100%;
    height: 100%;
    /*margin-bottom: 1%;*/
<<<<<<< HEAD
=======
}

#svg-title, #svg-area {
    color: whitesmoke;
    width: 100%;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
}

#slider-child{
    background-color: black;

    /*width: 100%;*/
    /*height: 15%;*/
    /*margin-top: 5%;*/
}



.range-slider-value {
    background-color: #EFE9E9;
    color: #888;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.noUi-connect {
    background: #92B592;
}

.noUi-handle {
    background-color: #5b835a;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.noUi-handle:before {
    display: none;
}

.noUi-target {
    background: #333;
    border-radius: 5px;
    border: 1px solid #1db954;
}

.noUi-connect {
    background: #1db954;
}


#vinyl-area {
    /*background-color: lightyellow;*/
    position: relative;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: left;
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
    align-items: flex-start;
    flex-shrink: 0;
    gap: 0;
    flex-wrap: wrap;
    overflow-x: visible;
<<<<<<< HEAD
    overflow-y: auto;
    padding-top: 1%;
=======
    overflow-y: visible;
    padding-top: 1%;
    /*overflow: visible;*/
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
    /*max-width: 1500px;*/
}


#vinyl-wrapper {
<<<<<<< HEAD
=======
    /*justify-self: left;*/
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
    /*background-color: orange;*/
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 0;
    flex-wrap: wrap;
<<<<<<< HEAD
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 200px;
    /*padding: 5%;*/
=======
    /*overflow-clip-margin: inherit;*/
    overflow-y: auto;
    /*padding-right: 200px;*/
    /*padding: 5%;*/
    margin-left: 2%;
    align-self: flex-start;
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
}


.vinyl-children{
    /*margin-right: -350px;*/
    /*border: 2px solid #1db954;*/
}

.vinyl-children-art{
<<<<<<< HEAD
    border: 2px solid hotpink;
=======
    /*border: 2px solid hotpink;*/
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
}

.vinyl-year {
    position: absolute;
    left: 2%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
<<<<<<< HEAD
=======
    list-style-type: none;
    padding: 0;
>>>>>>> c9e66402446c0aae6cc1e31e7ca11c035dc4e482
}

.axis-title{
    fill: white;
}

#histogram-toggle {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
